<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href='/stylesheets/style.css' />

  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <% include ./_nav %>
      <%- body %>
    </div>
  </div>
</body>

</html>